/** @format */

.notification {
	background: rgba(187, 177, 177, 0.5);
	width: 50%;
	height: 3em;
	margin-bottom: 5px;
	position: relative;
}

.notification-text {
	font-size: 2rem;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 10%;
	left: 1%;
}

.green {
	border: 5px solid rgb(19, 122, 27);
	color: rgb(19, 122, 27);
}

.red {
	border: 5px solid rgb(122, 19, 19);
	color: rgb(122, 19, 19);
}
